<div id="ABOUT" class="main-body hide container">
    <div class="row ease-in">
        <div class="col-12">
            <h1 class="ease-in">YOUR BREATHING STEADIES...</h1>
        </div>

        <div class="col-6 ease-in">
            <!-- buttons-->
            <div class="buttons">
                <p>Hi! My name is Joseph Kisbye and I'm a freelance web developer living in Philadelphia, Pennsylvania.
                </p>
                <p>I hold degrees in Writing and Information Technology, as well as various other technical
                    certifications.</p>
                <p>You can view a collection of my works here.</p>
            </div>
        </div>


        <img id="mug" class="col-6 ease-in" src="assets/mug_recolor_animated.gif">
    </div>
</div>