<section id="ABOUT" class="hide">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1 class="">THE SUDDEN RUSH OF MOVEMENT...</h1>
                <!-- vertical line -->
                <div class="">
                </div>

                <p class="">Joseph Kisbye is a freelance web developer living in Philadelphia, PA.</p>
                <p class="">He holds degrees in Writing and Information Technology as well as various technical
                    certifications.</p>

            </div>
            <img id="rabbit" class="col-6" src="assets/rabbit_sprite_color_animate_1.png">
        </div>
    </div>
</section>