<div id="DEPTHS" class="main-body container dark hide">
    <div class="row ">
        <div class="col-12 ease-in">
            <h1 class="ease-in">IT'S DARK DOWN HERE...</h1>
        </div>
        <div class="col-6 ease-in">
            <!-- buttons-->
            <div class="buttons ease-in">
                <div id="candle-depths" class="body-nav"><a>1. PRESS INTO THE GLOOM</a></div>
                <div id="mouth-depths" class="body-nav"><a>2. CRANE TO THE WELL'S MOUTH</a></div>
                <div id="landing-depths" class="body-nav"><a>3. CLAMBER UP THE BRICKWORK</a></div>
            </div></div>

            <!-- img -->
            <img id="well" class="col-6" src="assets/well_recolor_animated.gif">
    </div>
</div>
