<div id="DEPTHS" class="hide main-body container">
        <div id="row-div" class="row">
            <div id="col-div" class="col-6">
                <h1 class="">IT'S DARK DOWN HERE...</h1>

                <!-- buttons-->
                <div id="tool-rabbit" class="body-nav"><a class="">1. ACHE FOR THE METROPOLIS</a></div>
                <div id="about-rabbit" class="body-nav"><a class="">2. STEAL A MOMENT'S REST</a></div>
                <div id="landing-rabbit" class="body-nav"><a class="" >3. RETURN TO THE WELL</a></div>
            </div>

            <!-- img -->
            <img id="rabbit" class="col-6" src="assets/rabbit_sprite_color_animate_4.gif">
        </div>
</div>