</div>
<div class="row buffer"><p></p></div>
<footer>
    <div class="center">
    <p class="footer-text">this website was created by me, <a target="_blank" href="https://josephkisbye.com/">Joseph Kisbye</a></p>
</div>
</div>
</footer>
<%- include("script.ejs") %>
</body>

</html>