</div>
<div class="row buffer"><p></p></div>
<footer>
    <div class="row center">
        <div class="col-12">
    <p class="footer-text">this website was created by me, Joseph Kisbye</p>
</div>
</div>
</footer>
<%- include("script.ejs") %>
</body>

</html>