</div>

<div class="row buffer"><p></p></div>
<footer>
    <%  let d = new Date(); let year = d.getFullYear()%>

    <div class="center">
    <p id="foot-text" class="footer-text">this website was created by me, <a id="foot-name-link" target="_blank" href="https://josephkisbye.com/">Joseph Kisbye</a>. Copyright <%= year %></p>
    
</div>
</div>
</footer>
<%- include("script.ejs") %>
</body>

</html>