<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOSEPH KISBYE</title>

    <!-- CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />    
     

    <!-- custom style-->
    <link href="grid/simple-grid.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <title>Joseph Kisbye</title>

</head>

<!-- navbar -->
<nav>
    <div class="container">
        <div class="row">
            <div id="navbar">
                <div class=""><a id="name-link" href="/" class="nav-name">JOSEPH KISBYE</a>
                </div>
                <!-- navbar links -->
                <div class="">
                    <a id="home-link" class="navbar-links" href="/">HOME</a>
                    <a id="about-link" class="navbar-links" href="/about">ABOUT</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<body class="">
    <div class="border row">