<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOSEPH KISBYE</title>

    <!-- fonts -->

    <!-- custom style-->
    <link href="grid/simple-grid.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <title>Joseph Kisbye</title>

</head>

<!-- navbar -->
<nav class="container">
    <div class="row">
        <div id="navbar">
            <div class=""><a href="/" class="">JOSEPH KISBYE</a>
            </div>
            <!-- navbar links -->
            <div class="" >
                <a class="navbar-links" href="/">HOME</a>
                <a class="navbar-links" href="/">ABOUT</a>
            </div>
        </div>
    </div>
</nav>

<body class="">