<div id="LANDING" class="main-body container">
    <div class="row">
        <div class="col-12">
            <h1 class="">YOU APPROACH THE WELL...</h1>
        </div>

        <div class="col-6">
            <!-- buttons-->
            <div class="buttons">
                <div class="body-nav"><a id="rabbit-landing" class="">1. ATTUNE TO YOUR SURROUNDINGS</a></div>
                <div class="body-nav"><a id="tool-landing" class="">2. HUNT FOR AN IMPLEMENT</a></div>
                <div class="body-nav"><a id="depths-landing" class="">3. SCALE THE WELL'S DEPTH</a></div>
            </div>
        </div>

        <!-- img -->
        <img id="well" class="col-6" src="assets/well_sprite_color_animate_4.gif">
    </div>
</div>