<section id="LANDING">
    <div id = "test1" class="container">
        <div id = "test2" class="row">
            <div class="col-6">
                <h1 class="">YOU APPROACH THE WELL...</h1>

                <!-- buttons-->
                <div class="body-nav"><a id="work-link" class="">1. EXAMINE THE BRICKWORK</a></div>
                <div class="body-nav"><a id="about-link" class="">2. STEAL A MOMENT'S REST</a></div>
                <div class="body-nav"><a id="depths-link" class="" >3. SCALE THE WELL'S DEPTH</a></div>
            </div>

            <!-- well -->
            <img id="well" class="col-6" src="assets/well_sprite_color_animate_1.png">
        </div>
    </div>
</section>