<div id="LANDING" class="main-body container ">
    <div class="row ">
        <div class="col-12 ease-in">
            <h1 class="ease-in">YOU APPROACH THE WELL...</h1>
        </div>
        <div class="col-6 lb ease-in">
            <!-- buttons-->
            <div class="buttons ease-in">
                <div id="rabbit-landing" class="body-nav"><a class="">1. ATTUNE TO YOUR SURROUNDINGS</a></div>
                <div id="tool-landing" class="body-nav"><a class="">2. HUNT FOR AN IMPLEMENT</a></div>
                <div id="depths-landing" class="body-nav"><a class="">3. SCALE THE WELL'S DEPTH</a></div>
            </div></div>

            <!-- img -->
            <img id="well" class="col-6 rt" src="assets/well_recolor_animated.gif">
    </div>
</div>
