<div class="modal">
    <div class="modal-card">
        <div class="modal-header">
            <span class="modal-close">CLOSE</span>
            <p>HEAD</p>
        </div>
        <div class="modal-body">
            <p>BODY</p>
        </div>
        <div class="modal-footer">
            <p>FOOT</p>
        </div>

    </div>
</div>