<div id="RABBIT" class="main-body hide container">
    <div class="row">
        <div class="col-12">
            <h1 class="">THE SUDDEN RUSH OF MOVEMENT...</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <!-- buttons-->
            <div class="buttons">
                <div class="body-nav"><a id="tool-rabbit" class="">1. ACHE FOR THE METROPOLIS</a></div>
                <div class="body-nav"><a id="about-rabbit" class="">2. STEAL A MOMENT'S REST</a></div>
                <div class="body-nav"><a id="landing-rabbit" class="">3. RETURN TO THE WELL</a></div>
            </div>
        </div>


            <!-- img -->
            <img id="rabbit" class="col-6" src="assets/rabbit_sprite_color_animate_5.gif">
        </div>
</div>