<div id="TOOL" class="main-body hide container">
    <div class="row">
        <div class="col-12 ease-in">
            <h1 class=" ease-in">A FAMILIAR LOOKING TOOL...</h1>
        </div>

        <div class="col-6 ease-in">
            <!-- buttons-->
            <div class="buttons ease-in">
                <div id="works-tool" class="body-nav"><a class="">1. BRANDISH THE INSTRUMENT</a></div>
                <div id="about-tool" class="body-nav"><a class="">2. IDENTIFY ITS MAKE</a></div>
                <div id="landing-tool" class="body-nav"><a class="">3. RETURN TO THE WELL</a></div>
            </div>
        </div>


            <!-- img -->
            <img id="tool" class="col-6" src="assets/trowel_recolor_animated.gif">
        </div>
    </div>
