<!-- WORKS content-->
<section id="WORK" class="hide">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1 class="">A FAMILIAR LOOIKING TOOL...</h1>

                <!-- vertical line -->
                <div class=""></div>

                <!-- writing navigation-->
                <div id="" class="">
                    <!-- buttons-->
                    <div class="body-nav"><a class="">1. FINGER THE INSIGNIA</a></div>
                    <div class="body-nav"><a target="_blank" href="/roller" class="">2. PONDER ITS DESIGN</a></div>
                    <div class="body-nav"><a id="landing-link">3. RETURN TO THE WELL</a></div>
                </div>
            </div>

            <!-- trowel -->
            <img id="trowel" class="col-6" src="assets/trowel_sprite_color.png">
        </div>


    </div>
</section>