<div id="WORKS" class="container main-body hide">
    <div class="row">
        <div class="col-12">
            <h1 class="">HOW VERY LIKE KING ARTHUR...</h1>
        </div>

        <div class="col-6">
            <div class="buttons">
            <p>Here is a selection of my web development and other creative works.</p>
            <p>Additional assets, fonts, and code are available on my GitHub.</p>
            <button id="open-modal">OPEN MODAL</button>
        </div>
        </div>

        <% if (locals.data) { %>
            <% for (let i = 0; i < data.length; i++) { %>

            <div class="col-6 works-card">
                <div class="works-header">
                    <h3 class="works-text center">--- <%= data[i].title %> ---</h3>
                </div>

                <div class="works-body center"> <img class="works-img" src=<%= data[0].thumbnail %> alt="">
                </div>
                <div class="works-footer">
                    <p class="works-text"><%= data[i].description %></p>
                    <ul class="works-tag">
                        <% for (let a = 0; a < data[i].tags.length; a++) { %>
                        <li class="works-tag"> 
                        +<%= data[i].tags[a] %></li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <% } %>
            <% } %>

    </div>
</div>