<div id="ZONE" class="container dark hide">
    <div class="row ">
        <div class="col-12 ease-in ">
            <div class="frog-zone-banner">
                <h4 class="zone-text">YOU HAVE ENTERED</h4>
                <div class="animated-banner">
                    <div class="banner-word">
                        <span class="frog-zone-banner-element" style="--i:16">T</span>
                        <span class="frog-zone-banner-element" style="--i:17">H</span>
                        <span class="frog-zone-banner-element" style="--i:18">E</span>
                    </div>
                    <div class="banner-word">
                        <span class="frog-zone-banner-element" style="--i:19">F</span>
                        <span class="frog-zone-banner-element" style="--i:20">R</span>
                        <span class="frog-zone-banner-element" style="--i:21">O</span>
                        <span class="frog-zone-banner-element" style="--i:22">G</span>
                    </div>
                    <div class="banner-word">
                        <span class="frog-zone-banner-element" style="--i:23">Z</span>
                        <span class="frog-zone-banner-element" style="--i:24">O</span>
                        <span class="frog-zone-banner-element" style="--i:25">N</span>
                        <span class="frog-zone-banner-element" style="--i:26">E</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ease-in center">
            <h4 class="zone-header">THE HORNED MARSUPIAL FROG REGARDS YOU!</h4>
            <h4 class="zone-text">WILL THE WONDERS NEVER CEASE?</h4>
        </div>

        <div class="col-6 lb ease-in">
            <div class="buttons">
                <P class="zone-text">IN PARTING, YOU LEARN:</P>
                <ul class="zone-text">
                    <li class="zone-text">FROGLINGS HATCH FULLY DEVELOPED FROM THE MOTHER'S BACK</li>
                    <li class="zone-text">ITS EGGS ARE THE LARGEST KNOWN OF ANY AMPHIBIAN</li>
                    <li class="zone-text">THIS SPECIES HAS REEMERGED FROM THOUGHT EXTINCTION</li>
                </ul>
                </p>
            </div>
        </div>

        <!-- img -->
        <img id="" class="col-6 rt" src="assets/frog_zone/horned.png">

    </div>
    <p id="sources" class="zone-text modal-open">SOURCES CITED:</p>
    <div id="sources-modal" class="col-12 modal">
        <div class="modal-card">
            <div class="modal-body"> 
                <a id="" class="zone-text">okokok</a>
            </div>
            <div class="modal-footer">
                <div class="modal-close">
                    <p>CLOSE</p>
                </div>
            </div>

        </div>
    </div>
</div>