<div id="ZONE" class="container dark hide">
    <div class="row ">
        <div class="col-12 ease-in ">
            <div class="frog-zone-banner">
                <h4 class="zone-text">YOU HAVE ENTERED</h4>
                <div class="animated-banner">
                    <div class="banner-word">
                        <span class="frog-zone-banner-element" style="--i:16">T</span>
                        <span class="frog-zone-banner-element" style="--i:17">H</span>
                        <span class="frog-zone-banner-element" style="--i:18">E</span>
                    </div>
                    <div class="banner-word">
                        <span class="frog-zone-banner-element" style="--i:19">F</span>
                        <span class="frog-zone-banner-element" style="--i:20">R</span>
                        <span class="frog-zone-banner-element" style="--i:21">O</span>
                        <span class="frog-zone-banner-element" style="--i:22">G</span>
                    </div>
                    <div class="banner-word">
                        <span class="frog-zone-banner-element" style="--i:23">Z</span>
                        <span class="frog-zone-banner-element" style="--i:24">O</span>
                        <span class="frog-zone-banner-element" style="--i:25">N</span>
                        <span class="frog-zone-banner-element" style="--i:26">E</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ease-in center">
            <h4 class="zone-header">YOU FOUND THE HORNED MARSUPIAL FROG!</h4>
            <h4 class="zone-text">WILL THE WONDERS NEVER CEASE?</h4>
        </div>

        <!-- zone card -->
        <div class="col-12" style="min-height: fit-content;">
            <div id="" class="center flip flip-card">
                <div class="flip-card-inner center">
                    <div class="flip-card-front "><img class="center col-10 card-image" id=""
                            src="assets/frog_zone/horned_frame.png">
                    </div>
                    <div class="flip-card-back">
                        <img class="center col-10 card-image" id="" src="assets/frog_zone/horned_frame_back.png">
                        <div class="card-facts">
                            <div class="center col-8">
                                <ul class="card-text">
                                    <li class="card-text">FROGLINGS HATCH FULLY DEVELOPED FROM THE MOTHER'S BACK</li>
                                    <li class="card-text">ITS EGGS ARE THE LARGEST KNOWN OF ANY AMPHIBIAN</li>
                                    <li class="card-text">THIS SPECIES HAS REEMERGED FROM THOUGHT EXTINCTION</li>
                                    </ul>
                                    <div class="row-buffer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>