@font-face {
    font-family: 'BUMP';
    src: url("BUMP.ttf");
}

@font-face {
    font-family: "Sedate";
    src: url("Sedate.ttf");
}

@font-face {
    font-family: "Jitter";
    src: url("Jitterv2.ttf");
}

/* ANIMATIONS */

@keyframes ease-in {
    from {
        top: -100px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes ease-out {
    from {
        top: 0;
        opacity: 1;
    }

    to {
        top: -300px;
        opacity: 0
    }
}


.ease-in {
    animation-name: ease-in;
    animation-duration: .5s;
}

/* MAIN */

:root {

    --jet: #1E2328;
    --granite: #2a2e34;
    --gray: #383f46;

    --amber: #EC9C04;
    --goldenrod: #f5b301;
    --nilla: #fed053;

    --off-white: #f2f3fc;

}

html,
body {
    height: 100%;
    width: auto;
    background-color: var(--goldenrod);

}

div {
    position: relative;
}

details>summary {
    list-style: none;
}

/* TEXT */

p,
a {
    font-family: "Sedate";
    color: var(--jet);
    line-height: normal;
}

a {
    cursor: pointer;
    text-decoration: none;
}

h1 {
    font-family: "Jitter";
    font-size: 2rem;
    color: var(--jet);
    margin: 0;
    line-height: normal;
}

h3 {
    font-family: "Jitter";
    color: var(--jet);
    line-height: normal;
    font-size: 1.5rem;
    margin: 0;
}

li {
    font-family: "Sedate";
}


/* FUNCTIONAL */

.hide {
    display: none;
}

.dark {
    background-color: var(--jet);
    /* color: var(--off-white) */
    color: var(--nilla)
}


/* NAV */

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2rem;
    padding-bottom: 1rem;
}

.nav {
    background-color: var(--jet);
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar-links {
    margin-left: 20px;
    color: var(--goldenrod);
}

.nav-name {
    color: var(--goldenrod)
}

/* FOOT */

footer {
    background-color: var(--jet);
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    align-items: center;
}

.footer-text {
    color: var(--nilla);
    font-size: .75rem;
}

.footer-text a {
    color: var(--amber);
}

.buffer {
    height: 50px;
}

/* BODY CONTENT */

.main-body {
    margin-top: 5%;
}

.buttons {
    padding-top: 5%;
}

.body-nav {
    margin: 5% 0;
}

/* WORKS */

.works-banner {
    width: 100%;
}

.works-details {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.works-headline {
    text-align: center;
    margin-top: 1.5rem;
}

/* WORKS RE-WORKS */

ul.tree, ul.tree ul {
    list-style: none;
     margin: 0;
     padding: 0;
   } 
   ul.tree ul {
     margin-left: 10px;
   }
   ul.tree li {
     margin: 0;
     padding: 0 7px;
     color: var(--jet);
     border-left:2px solid var(--jet);

   }
   ul.tree li:last-child {
       border-left:none;
   }
   ul.tree li:before {
      position:relative;
      top:-0.3em;
      height:1em;
      width:12px;
      border-bottom:2px solid var(--jet);
      content:"";
      display:inline-block;
      left:-7px;
   }
   ul.tree li:last-child:before {
      border-left:2px solid var(--jet);   
   }

/* MODALS */

.modal p {
    color: var(--jet)
}

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    padding-top: 5%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-card {
    position: relative;
    background-color: var(--goldenrod);
    margin: auto;
    width: 90%;
    height:auto;
    padding: 0;
    border: 1px solid var(--amber);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.modal-close p {
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--goldenrod);
}

.modal-header {
    padding: 2px 16px;
    background-color: var(--amber);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: var(--jet);
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: var(--amber);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: var(--jet);
}

/* SWIPER */

.swiper {
    width: 90%;
    height: 80%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }