@font-face {
    font-family: 'BUMP';
    src: url("BUMP.ttf");
}

@font-face {
    font-family: "Sedate";
    src: url("Sedate.ttf");
}

@font-face {
    font-family: "Jitter";
    src: url("Jitterv2.ttf");
}

:root {
    --goldenrod: #ffd000;
    /* --goldenrod: #ffd700; */

    --amber: #d6a41b;
    /* --amber: #d6a41b; */

    --olive: #363811;

    /* V2 --olive: #363811; */
    /* V1 --olive: #5a5e20; */

    --puce: #3f2e10;
    /* --puce: #3f2e10; */

    --denim: #00002c;

    --violet: #3a3277;
    
    --slate: #6772a9;

    --off-white: #e4e5fa;

}


body {
    background-color: var(--olive);
}

p, a{
    font: inherit;
    font-family: "Sedate";
    color: var(--goldenrod)
}
a {
    cursor: pointer;
}



h1 {
    font-family: "Jitter";
    font-size: 2rem;
    color: var(--goldenrod);
    margin: 0;
}

h3 {
    font-family: "Sedate";
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    font-family: "Sedate";
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2rem;
}

.container {
    display: grid;
}

.hide {
    display: none;
}

.navbar-links {
    margin-left: 20px;
}

.main-body {
    margin-top: 5rem;
}

.buttons {
    padding-top: 1rem;
    padding-left: 2rem;
}

.body-nav {
    margin: 1rem 0;
}

.dark {
    background-color: var(--denim);
    /* color: var(--off-white) */
    color: var(--off-white)
}

.works-card {
    background-color: var(--goldenrod);
    color: var(--puce);

    border-radius: 13px;
}

.works-header {
    background-color: var(--goldenrod);
    margin: 1.75rem 0 .5rem 0;
}

.works-body {
    background-color: var(--olive);
    border-style: solid;
    border-width: 3px;
    border-color: var(--goldenrod);
    padding: .5rem 0;
}

.works-img {
    width: 80%;
}

.works-text {
    color: var(--puce);
    margin: 0;
}

.works-footer {
    margin: 1rem 1rem;
}

.works-tag {
    display: inline-block;
    color: var(--puce);
}



